/* ----- General ----- */

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: coral;
}

a {
	text-decoration: none;
	color: inherit;
}


/* ----- Nav ----- */

nav {
	width: 100%;
	display: flex;
	font-size: x-large;
	color: white;
	background-color: cornflowerblue;
}

nav > a {
	flex: 1 0 auto;
	text-align: center;
	padding: 0.3em 0;
}

nav > a:hover {
	background-color: coral;
}

nav > a:visited {
	color: inherit;
}

nav svg {
	height: 0.95em;
	margin-left: 0.3em;
}


/* ----- Main ----- */

main {
	margin: 3% 5% 0;
}

@media (min-width: 640px) {

	main {
		width: 40em;
		margin: 2em auto 0;
	}

}


/* ----- Search ----- */

input[type=search] {
	width: 100%;
	-webkit-appearance: textfield;
	font-size: large;
	color: inherit;
	padding: 0.3em 0 0.3em 0;
	border: 2px solid coral;
	border-radius: 0.2em;
}

input[type=search]:focus {
	outline: none;
}

input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button:after {
	content: '✕';
	margin-right: 0.4em;
	color: cornflowerblue;
}

/* ----- Search Results ----- */

.list {
	list-style-type: none;
	margin: 2em 0;
	padding: 0;
	line-height: 1.5em;
	color: cornflowerblue;
	font-size: large;
}

.list li {
	border-radius: 0.2em;
	padding: 0.5em 0.8em;
	margin: 0.5em 0;
}

.list li:hover {
	background-color: cornflowerblue;
	color: white;
}

.list li:hover .item-author {
	color: white;
}

.list a {
	text-decoration: none;
	color: inherit;
}

.list a:visited {
	color: inherit;
}

.list .item-title {
	font-weight: bold;
}

.list .item-author {
	margin-left: 1em;
	margin-top: 0.3em;
	color: coral;
}


/* ----- Item Page ----- */

main p {
	margin: 2em 0 2.5em;
	color: cornflowerblue;
}

h1 {
	font-weight: normal;
	color: cornflowerblue
}

h3 {
	margin-top: 1.5em;
	font-weight: normal;
	color: coral;
}

.item-buttons a {
	background-color: coral;
	padding: 0.5em;
	color: white;
}

.item-buttons a:hover {
	background-color: coral;
}


/* ----- Edit/New Item Pages ----- */

label {
	display: block;
	margin: 0.5em 0;
	color: cornflowerblue;
}

input[type=text] {
	width: 100%;
	border: 1px solid coral;
	font-size: medium;
	color: inherit;
}

input[type=submit] {
	margin-top: 1em;
	padding: 0.5em;
	background-color: cornflowerblue;
	border: none;
	color: white;
	font-size: medium;
}
