{% extends "base.html" %}
{% block title %}Book DB - {{ title }}{% endblock title %}

{% block content %}
<h1>Edit Book</h1>
<form id="book-form">
	<label for="title-input">Title</label>
	<input id="title-input" type="text" name="title" value="{{ title }}" />
	<label for="author-input">Author</label>
	<input id="author-input" type="text" name="author" value="{{ author }}" />
	<label for="location-input">Location</label>
	<input id="location-input" type="text" name="location" value="{{ location }}" />
	<input type="hidden" name="id" value="{{ id }}" />
	<input type="submit" value="Update" />
</form>
<script type="text/javascript" src="/static/edit.js"></script>
{% endblock content %}
